colorList = {
  primary:#db9e3f
  success:#28a745
  danger:#dc3545
  warn:#ffc107
  info:#17a2b8
  light:#f8f9fa
  dark:#343a40
  c2:#222
  gray:#666
  c9:#999
  c34:#343434
  white:#fff
  black:#000
  f9:#f9f9f9
  border:#d4d9de
  c46:#464f73
}

for key, value in colorList
  .text-{key}
    color value
  .bg-{key}
    background: value
  .border-{key}
    border value

//字体大小
fs = 8rem 10rem 12rem 13rem 15rem 16rem
for val in fs
  .fs-{val}
    font-size "calc(%s / 375)" % val

//函数
m(val)
  "calc(%s /375)" % val

c(val)
  val = unit(val, rem)
  "calc(%s /375)" % val

//代码片段
$flex =@block {
  display flex
  justify-content center
  align-items center
}

$grid =@block {
  display grid
  grid-template-columns repeat(auto-fit,minmax(100px,1fr))
}
$card =@block {
  background: colorList.white
  border-bottom: 1px solid colorList.border
  margin-bottom:  m(10rem)
}

//css类
.px17
  padding 0 m(17rem)

.nav
  display flex
  justify-content space-between
  align-items center
  font-size m(13rem)
  color: colorList.c34
  padding-bottom 1px
  border-bottom 1px solid transparent
.active
  color: colorList.primary
  border-bottom 1px solid @color

.nav-swap
  color: colorList.white
  justify-content space-around
  @extends .nav

.ell
  text-overflow ellipsis
  white-space nowrap
  overflow: hidden
  padding-right: m(2rem)

.px
  padding 0 calc(17rem / 375)

.ml
  margin-left auto

.grid
  {$grid}

.flex
  {$flex}

.flex-column
  flex-direction column
  @extends .flex

.flex-between
  @extends  .flex
  justify-content space-between

.flex-1
  flex: 1

.card
  {$card}



